<% content_for :title, "New course" %>

<div class="form-container">
  <h1 class="page-title">New Course</h1>

  <%= render "form", course: @course %>

  <div class="back-link">
    <%= link_to "Back to courses", courses_path, class: "btn btn-back" %>
  </div>
</div>
